$tableHeight: calc(80vh - 4rem);

.table-container {
  max-height: $tableHeight;
  height: $tableHeight;
  overflow: auto;
  width: 60%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.no-found {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.no-data-image {
  width: 50%;
}

.pokemon-table {
  width: 100%;
  border-collapse: collapse;
}

.row {
  cursor: pointer;

  &:hover {
    outline: 1px solid #ffca02;
    outline-offset: -1px;
  }
}

.pokemon-table th,
.pokemon-table td {
  padding: 5px;
  text-align: center;
}

.pokemon-table tbody tr:nth-child(even) {
  background-color: #2b2b2b;
}

.pokemon-table thead th {
  position: sticky;
  top: 0;
  background-color: #242424;
  z-index: 2;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.pokemon-image {
  width: 10rem;
  height: auto;
  display: block;
}

.image-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
