.search-bar {
  width: 100%;
  display: flex;
  position: relative;

  .search-bar-input {
    width: 100%;
    background: white;
    border: none;
    border-radius: 10px 0 0 10px;
    outline: none;
    padding-left: 15px;
    color: black;
    padding-right: 2.4rem;
  }

  .clear-button {
    background: none;
    color: black;
    outline: none;
    position: absolute;
    right: 48px;
    border: none;

    &:hover {
      border: none;
    }
  }

  .search-button {
    border-radius: 0 10px 10px 0;
    background: #306FB6;
    outline: none;
    border: none;

    &:hover {
      border: none;
    }
  }
}